{% extends 'base.html' %}
{% block title %}
Add Data
{% endblock %}
{% block body %}
<div class="container mt-5">
    <h1>Fill in the data</h1>
    <form method="post">
        <input type="text" name="idPhotographer" id ="idPhotographer" class="form-control" placeholder = "idPhotographer">
        <input type="text" name="author" id ="author" class="form-control" placeholder = "author">
        <input type="text" name="url" id ="url" class="form-control" placeholder = "url">
        <input type="text" name="theme" id ="theme" class="form-control" placeholder = "theme">
        <input type="text" name="like" id ="like" class="form-control" placeholder = "like">
        <input type="text" name="comments" id ="comments" class="form-control" placeholder = "comments">
        <input type="submit" class="btn btn-success" value="Send data">
    </form>
</div>
{% endblock %}